/* 
1) transition
2) animation
 */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body{
    width: 100%;
    height: 100%;
}



.aside_header{
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding-top: 10px;
}



aside {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
}



/* parent */
.logos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
/* children */
.logos--insta {
  padding: 30px;
}
.logos--insta button i{
    font-size: 30px;
    color: black;
    background-color: white;
}
.logos--extra {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logos--extra button i{
    font-size: 30px;
    color: black;
    background-color: white;
}
.logos--menu {
    padding: 30px;
}
.logos--menu button i{
    font-size: 30px;
    color: black;
    background-color: white;
}
.vl {
  border-left: 2px solid rgb(194, 194, 194);
  height: 150;
}



/* parent */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* children */
.pp--info--body{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.pp-info{
    display: flex;
    flex-direction: row;
}
/* 1st children */
.pp{
    height: 150px;
}
.pp button i{
    font-size: 110px;
}
/* 2nd children */
.info{
    height: 200px;
    width: 100%;
    padding-left: 70px;
}
.info--account{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info--account--name p{
    margin-right: 20px;
    font-size: 30px;
}
.info--account--button{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.info--account--button button{
    font-size: 20px;
}
.info--count{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.p3{
    margin-right: 20px;
}
.f1{
    margin-left: 20px;
}
.info--extra{
    margin-top: 20px;
}
hr{
    margin-top: 50px;
}



/* 3rd children */
.body{
    display: flex;
    flex-direction: column;
}
.body--photos{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}
.card{
    width: 400px;
    height: 400px;
    position: relative;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}
.card--img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: all 0.35s ease-in-out;
}
.card--description{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    display: none;
}
.card--item{
    font-size: 20px;
}
div:hover .card--description{
    display: flex;
}